* {
    margin: 0;
    padding: 0
}
body {
    background: #153566;
    overflow: hidden
}
.graticule {
    fill: none;
    stroke: #134779
}
.land {
    fill: none;
    stroke: #85aecc;
    stroke-width: 1px
}
.boundary {
    fill: none;
    stroke: #85aecc;
    stroke-width: 1px
}
.country {
    fill: none;
    stroke: #85aecc;
    stroke-width: 1px
}
.line {
    fill: none;
    stroke: red;
    stroke-width: 1px
}
.text {
    fill: white
}
#bubble {
    background: #fff;
    border-radius: 10px;
    color: #fff;
    margin: 1em 0 3em;
    padding: 15px;
    position: absolute;
    width: 156px;
    opacity: 0.7;
    display: none
}
#bubble::after {
    border-color: #fff transparent;
    border-style: solid;
    border-width: 20px 20px 0 0px;
    bottom: -20px;
    content: "";
    display: block;
    left: 100px;
    position: absolute;
    width: 0
}
header {
    height: 60px;
    padding: 20px 20px 0px 20px
}
header > img {
    float: left
}
header > h1 {
    float: left;
    width: 900px;
    line-height: 60px;
    color: #fff;
    font-weight: normal;
    font-family: Helvetica, Verdana, Arial;
    font-size: 28px;
    padding-left: 15px
}
header .tab {
    float: right;
    width: 650px;
    height: 58px;
    border-bottom: 1px solid #fff
}
header .tab button {
    float: left;
    width: 215px;
    height: 100%;
    line-height: 58px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    position: relative;
    top: 1px
}
header .tab button.selected {
    color: #fff000;
    border: 1px solid #fff;
    border-bottom: 1px solid #153566
}
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    color: #fff
}